@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Teko|Noto+Sans+JP|Noto+Serif+JP");
html {
  box-sizing: border-box; }

*, *::after, *::before {
  box-sizing: inherit; }

html {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  overflow-y: scroll;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: subpixel-antialiased;
  -moz-osx-font-smoothing: unset;
  -webkit-overflow-scrolling: touch; }

@media only screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
  html {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; } }
body {
  margin: 0; }

hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */ }

*,
::after,
::before {
  box-sizing: inherit; }

::after,
::before {
  text-decoration: inherit;
  vertical-align: inherit; }

* {
  background-repeat: no-repeat;
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

audio:not([controls]) {
  display: none;
  height: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

figure {
  line-height: 1; }

small {
  font-size: 80%; }

[hidden],
template {
  display: none; }

abbr[title] {
  border-bottom: 1px dotted;
  text-decoration: none; }

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  -webkit-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
  color: inherit;
  text-decoration: none;
  display: inline-block;
  outline: none;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  transition: all 0.1s ease; }
  a:focus, a:hover {
    text-decoration: none; }
  a img {
    display: inline-block;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    transition: all 0.1s ease; }
  a.hover img {
    -webkit-transform: scale(1.05) translate3d(0, 0, 0);
    -moz-transform: scale(1.05) translate3d(0, 0, 0);
    -ms-transform: scale(1.05) translate3d(0, 0, 0);
    -o-transform: scale(1.05) translate3d(0, 0, 0);
    transform: scale(1.05) translate3d(0, 0, 0); }

a:active,
a:hover {
  outline-width: 0; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  word-break: break-all;
  word-wrap: break-word; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

mark {
  background-color: #ff0;
  color: #000; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sub {
  bottom: -0.25em; }

sup {
  top: -0.5em; }

menu,
ol,
ul {
  padding-left: 0;
  list-style: none; }

button,
input,
optgroup,
select,
textarea {
  font: inherit; }

optgroup {
  font-weight: bold; }

button {
  overflow: visible; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0; }

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText; }

[type="reset"],
[type="submit"],
button,
html [type="button"] {
  -webkit-appearance: button; }

button,
select {
  text-transform: none; }

button,
input,
select,
textarea {
  background-color: transparent;
  border-style: none;
  color: inherit; }

select {
  -moz-appearance: none;
  -webkit-appearance: none; }

select::-ms-expand {
  display: none; }

select::-ms-value {
  color: currentColor; }

fieldset {
  padding: 0.35em 0.75em 0.625em; }

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
  padding: 0; }

textarea {
  overflow: auto;
  resize: vertical; }

progress {
  vertical-align: baseline; }

[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto; }

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */ }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */ }

::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54; }

img {
  border-style: none;
  max-width: 100%;
  vertical-align: baseline;
  outline: none;
  margin: auto;
  line-height: 1; }

progress {
  vertical-align: baseline; }

svg:not(:root) {
  overflow: hidden; }

svg * {
  fill: none;
  stroke: currentColor; }

audio,
canvas,
progress,
video {
  display: inline-block;
  max-width: 100%; }

@media screen {
  [hidden~="screen"] {
    display: inherit; }

  [hidden~="screen"]:not(:active):not(:focus):not(:target) {
    position: absolute !important;
    clip: rect(0 0 0 0) !important; } }
[aria-busy="true"] {
  cursor: progress; }

[aria-controls] {
  cursor: pointer; }

[aria-disabled] {
  cursor: default; }

::-moz-selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none; }

::selection {
  background-color: #b3d4fc;
  color: #fff;
  text-shadow: none; }

a[href^="tel:"] {
  cursor: default; }

html {
  font-size: 62.5%; }

body {
  font-family: "Noto Sans JP", sans-serif;
  background: #0a0a0a;
  line-height: 2;
  color: #E0F1FF;
  font-size: 1.2rem;
  font-weight: 900;
  height: 100%;
  min-height: 100%;
  font-feature-settings: "palt" 1; }
  @media screen and (min-width: 600px) {
    body {
      font-size: 1.4rem; } }
  @media screen and (min-width: 960px) {
    body {
      font-size: 1.6rem; } }

#pageloading-wrap {
  background: #466bda;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
  display: table;
  z-index: 1; }

#pageloading-icon {
  display: table-cell;
  vertical-align: middle; }

.wrap:after {
  position: fixed;
  top: 0;
  left: 0;
  content: '';
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background: url("images/bg_stars.png") repeat center top/320px, url("images/bg_body.jpg") no-repeat center top/cover; }

.bg_chart {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: -1; }
  .bg_chart img {
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 900px;
    width: 900px;
    max-width: 2000px;
    min-height: 400px;
    max-height: 80vh;
    -webkit-transform-origin: top left;
    -moz-transform-origin: top left;
    -ms-transform-origin: top left;
    -o-transform-origin: top left;
    transform-origin: top left;
    -webkit-animation: bgChart 200s linear 0s infinite forwards;
    -moz-animation: bgChart 200s linear 0s infinite forwards;
    animation: bgChart 200s linear 0s infinite forwards; }
@-webkit-keyframes bgChart {
  0% {
    -webkit-transform: rotate(0deg) translate3d(-50%, -50%, 0); }
  100% {
    -webkit-transform: rotate(360deg) translate3d(-50%, -50%, 0); } }
@-moz-keyframes bgChart {
  0% {
    -moz-transform: rotate(0deg) translate3d(-50%, -50%, 0); }
  100% {
    -moz-transform: rotate(360deg) translate3d(-50%, -50%, 0); } }
@keyframes bgChart {
  0% {
    -webkit-transform: rotate(0deg) translate3d(-50%, -50%, 0);
    -moz-transform: rotate(0deg) translate3d(-50%, -50%, 0);
    -ms-transform: rotate(0deg) translate3d(-50%, -50%, 0);
    -o-transform: rotate(0deg) translate3d(-50%, -50%, 0);
    transform: rotate(0deg) translate3d(-50%, -50%, 0); }
  100% {
    -webkit-transform: rotate(360deg) translate3d(-50%, -50%, 0);
    -moz-transform: rotate(360deg) translate3d(-50%, -50%, 0);
    -ms-transform: rotate(360deg) translate3d(-50%, -50%, 0);
    -o-transform: rotate(360deg) translate3d(-50%, -50%, 0);
    transform: rotate(360deg) translate3d(-50%, -50%, 0); } }
.ua_ie .bg_chart img {
  -webkit-animation: notuse 200s linear 0s infinite forwards;
  -moz-animation: notuse 200s linear 0s infinite forwards;
  animation: notuse 200s linear 0s infinite forwards; }

main {
  display: block;
  position: relative;
  padding-top: 93px;
  height: auto; }
  @media screen and (min-width: 960px) {
    main {
      padding-top: 131px; } }

section {
  max-width: 100%;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  padding: 60px 0 0; }
  @media screen and (min-width: 960px) {
    section {
      padding: 60px 16px; } }
  section section {
    padding: 24px 0 0; }

.banner {
  width: 60%;
  margin: 0 auto;
  margin-top: 1em;
  margin-bottom: -2.2em; }
  @media screen and (max-width: 960px) {
    .banner {
      width: 600px;
      margin: 0 auto;
      margin-bottom: -1em;
      text-align: center; }}
  @media screen and (max-width: 760px) {
    .banner {
      width: 100%; }}

.section_body {
  margin: 24px auto 24px; }
  @media screen and (min-width: 960px) {
    .section_body {
      margin: 60px auto 60px; } }

[class*="inner"] {
  width: 100%;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  padding: 0 8%; }
  @media screen and (min-width: 960px) {
    [class*="inner"] {
      width: 100%; } }
  @media screen and (min-width: 1280px) {
    [class*="inner"] {
      width: 80%;
      padding: 0; } }

.inner-lg {
  width: 100%; }
.inner p {
  text-align: left; }

hr.dot {
  border-top: 2px dotted #aaa;
  margin: 20px 0; }

[class*="ttl_"] {
  font-family: "Teko", "Noto Sans JP", sans-serif;
  letter-spacing: .1rem; }
  @media screen and (min-width: 960px) {
    [class*="ttl_"] {
      letter-spacing: .3rem; } }

.ttl_h1 {
  font-size: 3.2rem;
  line-height: 1;
  font-weight: 600; }
  @media screen and (min-width: 960px) {
    .ttl_h1 {
      font-size: 3.2rem; } }

.ttl_h2 {
  font-size: 4rem;
  line-height: 1.4;
  font-weight: 600;
  position: relative;
  font-weight: 600; }
  @media screen and (min-width: 960px) {
    .ttl_h2 {
      font-size: 7rem; } }

.ttl_h3 {
  font-size: 3rem;
  line-height: 1.4;
  font-weight: 600; }
  @media screen and (min-width: 960px) {
    .ttl_h3 {
      font-size: 5rem; } }

.ttl_h4 {
  font-size: 2.6rem; }
  @media screen and (min-width: 960px) {
    .ttl_h4 {
      font-size: 3.2rem; } }

.ttl_h5 {
  font-size: 1.2rem;
  line-height: 1;
  border-left: 4px double #E0F1FF;
  padding: .4em 0 0 .5em;
  margin-bottom: 1.5em; }
  @media screen and (min-width: 960px) {
    .ttl_h5 {
      font-size: 1.6rem; } }

.ttl_h6 {
  font-size: 1rem; }
  @media screen and (min-width: 960px) {
    .ttl_h6 {
      font-size: 1.4rem; } }

.ttl_post {
  font-size: 2.6rem;
  line-height: 1.4;
  font-weight: 600;
  position: relative;
  margin-bottom: 24px;
  font-family: "Noto Sans JP", sans-serif;
  font-weight: 600; }
  .ttl_post span {
    display: block;
    font-family: "Teko", "Noto Sans JP", sans-serif;
    font-size: 65%; }
  @media screen and (min-width: 960px) {
    .ttl_post {
      font-size: 3.2rem;
      margin-bottom: 60px; } }

p {
  margin-bottom: 1em; }

a.link_inline {
  display: inline-block;
  color: #958864;
  text-decoration: underline;
  margin: 0 .25em; }
  a.link_inline:hover, a.link_inline:active, a.link_inline:focus {
    color: white; }

figure.fl, figure.fr {
  width: 100%;
  padding-bottom: 20px; }
@media screen and (min-width: 960px) {
  figure.fl, figure.fr {
    max-width: 50%;
    padding: 10px 0 20px; }
  figure.fl {
    padding-right: 20px; }
  figure.fr {
    padding-left: 20px; } }

noscript {
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  background: rgba(255, 0, 0, 0.6);
  padding: 1rem;
  color: white; }
  noscript .fa-warning {
    padding-right: 0.4rem; }

a.ex_link:not(.in_link) {
  display: inline-block; }
  a.ex_link:not(.in_link):after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f35d';
    display: inline-block;
    width: 1em;
    height: 1em;
    margin: 0 0.5rem;
    opacity: 0.7; }

.stripe {
  background-image: linear-gradient(-45deg, black 25%, rgba(0, 0, 0, 0.5) 25%, rgba(0, 0, 0, 0.5) 50%, black 50%, black 75%, rgba(0, 0, 0, 0.5) 75%, rgba(0, 0, 0, 0.5));
  background-size: 8px 8px;
  background-repeat: repeat; }

.ellipsis {
  overflow: hidden;
  width: 100%;
  display: inline-block;
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-wrap: normal; }
  .ellipsis .more {
    background: red;
    position: relative;
    width: calc(100% - 5em); }
    .ellipsis .more:after {
      content: "詳しく見る";
      display: inline-block;
      position: absolute;
      top: 0;
      left: 100%; }

.flex {
  display: flex;
  justify-content: space-between; }

.flex_cc {
  display: flex;
  justify-content: center;
  align-items: center; }

.order1 {
  order: 1; }
.order2 {
  order: 2; }
.order3 {
  order: 3; }

.relative {
  position: relative; }

.fullpage {
  max-height: 800px; }

.clearfix::after {
  clear: both;
  content: "";
  display: table; }

.fr {
  float: right !important; }

.fl {
  float: left !important; }

.center {
  margin-left: auto;
  margin-right: auto; }

.tc {
  text-align: center !important; }

.tl {
  text-align: left !important; }

.tr {
  text-align: right !important; }

@media screen and (max-width: 600px) {
  .sp_tl {
    text-align: left !important; } }

.w0 {
  width: 0%; }

.w10 {
  width: 10%; }

.w20 {
  width: 20%; }

.w30 {
  width: 30%; }

.w40 {
  width: 40%; }

.w50 {
  width: 50%; }

.w60 {
  width: 60%; }

.w70 {
  width: 70%; }

.w80 {
  width: 80%; }

.w90 {
  width: 90%; }

.w100 {
  width: 100%; }

.m0 {
  margin: 0px !important; }

.mt0 {
  margin-top: 0px !important; }

.mb0 {
  margin-bottom: 0px !important; }

.ml0 {
  margin-left: 0px !important; }

.mr0 {
  margin-right: 0px !important; }

.p0 {
  padding: 0px !important; }

.pt0 {
  padding-top: 0px !important; }

.pb0 {
  padding-bottom: 0px !important; }

.pl0 {
  padding-left: 0px !important; }

.pr0 {
  padding-right: 0px !important; }

.m5 {
  margin: 5px !important; }

.mt5 {
  margin-top: 5px !important; }

.mb5 {
  margin-bottom: 5px !important; }

.ml5 {
  margin-left: 5px !important; }

.mr5 {
  margin-right: 5px !important; }

.p5 {
  padding: 5px !important; }

.pt5 {
  padding-top: 5px !important; }

.pb5 {
  padding-bottom: 5px !important; }

.pl5 {
  padding-left: 5px !important; }

.pr5 {
  padding-right: 5px !important; }

.m10 {
  margin: 10px !important; }

.mt10 {
  margin-top: 10px !important; }

.mb10 {
  margin-bottom: 10px !important; }

.ml10 {
  margin-left: 10px !important; }

.mr10 {
  margin-right: 10px !important; }

.p10 {
  padding: 10px !important; }

.pt10 {
  padding-top: 10px !important; }

.pb10 {
  padding-bottom: 10px !important; }

.pl10 {
  padding-left: 10px !important; }

.pr10 {
  padding-right: 10px !important; }

.m15 {
  margin: 15px !important; }

.mt15 {
  margin-top: 15px !important; }

.mb15 {
  margin-bottom: 15px !important; }

.ml15 {
  margin-left: 15px !important; }

.mr15 {
  margin-right: 15px !important; }

.p15 {
  padding: 15px !important; }

.pt15 {
  padding-top: 15px !important; }

.pb15 {
  padding-bottom: 15px !important; }

.pl15 {
  padding-left: 15px !important; }

.pr15 {
  padding-right: 15px !important; }

.m20 {
  margin: 20px !important; }

.mt20 {
  margin-top: 20px !important; }

.mb20 {
  margin-bottom: 20px !important; }

.ml20 {
  margin-left: 20px !important; }

.mr20 {
  margin-right: 20px !important; }

.p20 {
  padding: 20px !important; }

.pt20 {
  padding-top: 20px !important; }

.pb20 {
  padding-bottom: 20px !important; }

.pl20 {
  padding-left: 20px !important; }

.pr20 {
  padding-right: 20px !important; }

.m25 {
  margin: 25px !important; }

.mt25 {
  margin-top: 25px !important; }

.mb25 {
  margin-bottom: 25px !important; }

.ml25 {
  margin-left: 25px !important; }

.mr25 {
  margin-right: 25px !important; }

.p25 {
  padding: 25px !important; }

.pt25 {
  padding-top: 25px !important; }

.pb25 {
  padding-bottom: 25px !important; }

.pl25 {
  padding-left: 25px !important; }

.pr25 {
  padding-right: 25px !important; }

.m30 {
  margin: 30px !important; }

.mt30 {
  margin-top: 30px !important; }

.mb30 {
  margin-bottom: 30px !important; }

.ml30 {
  margin-left: 30px !important; }

.mr30 {
  margin-right: 30px !important; }

.p30 {
  padding: 30px !important; }

.pt30 {
  padding-top: 30px !important; }

.pb30 {
  padding-bottom: 30px !important; }

.pl30 {
  padding-left: 30px !important; }

.pr30 {
  padding-right: 30px !important; }

.m35 {
  margin: 35px !important; }

.mt35 {
  margin-top: 35px !important; }

.mb35 {
  margin-bottom: 35px !important; }

.ml35 {
  margin-left: 35px !important; }

.mr35 {
  margin-right: 35px !important; }

.p35 {
  padding: 35px !important; }

.pt35 {
  padding-top: 35px !important; }

.pb35 {
  padding-bottom: 35px !important; }

.pl35 {
  padding-left: 35px !important; }

.pr35 {
  padding-right: 35px !important; }

.m40 {
  margin: 40px !important; }

.mt40 {
  margin-top: 40px !important; }

.mb40 {
  margin-bottom: 40px !important; }

.ml40 {
  margin-left: 40px !important; }

.mr40 {
  margin-right: 40px !important; }

.p40 {
  padding: 40px !important; }

.pt40 {
  padding-top: 40px !important; }

.pb40 {
  padding-bottom: 40px !important; }

.pl40 {
  padding-left: 40px !important; }

.pr40 {
  padding-right: 40px !important; }

.m45 {
  margin: 45px !important; }

.mt45 {
  margin-top: 45px !important; }

.mb45 {
  margin-bottom: 45px !important; }

.ml45 {
  margin-left: 45px !important; }

.mr45 {
  margin-right: 45px !important; }

.p45 {
  padding: 45px !important; }

.pt45 {
  padding-top: 45px !important; }

.pb45 {
  padding-bottom: 45px !important; }

.pl45 {
  padding-left: 45px !important; }

.pr45 {
  padding-right: 45px !important; }

.m50 {
  margin: 50px !important; }

.mt50 {
  margin-top: 50px !important; }

.mb50 {
  margin-bottom: 50px !important; }

.ml50 {
  margin-left: 50px !important; }

.mr50 {
  margin-right: 50px !important; }

.p50 {
  padding: 50px !important; }

.pt50 {
  padding-top: 50px !important; }

.pb50 {
  padding-bottom: 50px !important; }

.pl50 {
  padding-left: 50px !important; }

.pr50 {
  padding-right: 50px !important; }

.m55 {
  margin: 55px !important; }

.mt55 {
  margin-top: 55px !important; }

.mb55 {
  margin-bottom: 55px !important; }

.ml55 {
  margin-left: 55px !important; }

.mr55 {
  margin-right: 55px !important; }

.p55 {
  padding: 55px !important; }

.pt55 {
  padding-top: 55px !important; }

.pb55 {
  padding-bottom: 55px !important; }

.pl55 {
  padding-left: 55px !important; }

.pr55 {
  padding-right: 55px !important; }

.m60 {
  margin: 60px !important; }

.mt60 {
  margin-top: 60px !important; }

.mb60 {
  margin-bottom: 60px !important; }

.ml60 {
  margin-left: 60px !important; }

.mr60 {
  margin-right: 60px !important; }

.p60 {
  padding: 60px !important; }

.pt60 {
  padding-top: 60px !important; }

.pb60 {
  padding-bottom: 60px !important; }

.pl60 {
  padding-left: 60px !important; }

.pr60 {
  padding-right: 60px !important; }

.m65 {
  margin: 65px !important; }

.mt65 {
  margin-top: 65px !important; }

.mb65 {
  margin-bottom: 65px !important; }

.ml65 {
  margin-left: 65px !important; }

.mr65 {
  margin-right: 65px !important; }

.p65 {
  padding: 65px !important; }

.pt65 {
  padding-top: 65px !important; }

.pb65 {
  padding-bottom: 65px !important; }

.pl65 {
  padding-left: 65px !important; }

.pr65 {
  padding-right: 65px !important; }

.m70 {
  margin: 70px !important; }

.mt70 {
  margin-top: 70px !important; }

.mb70 {
  margin-bottom: 70px !important; }

.ml70 {
  margin-left: 70px !important; }

.mr70 {
  margin-right: 70px !important; }

.p70 {
  padding: 70px !important; }

.pt70 {
  padding-top: 70px !important; }

.pb70 {
  padding-bottom: 70px !important; }

.pl70 {
  padding-left: 70px !important; }

.pr70 {
  padding-right: 70px !important; }

.m75 {
  margin: 75px !important; }

.mt75 {
  margin-top: 75px !important; }

.mb75 {
  margin-bottom: 75px !important; }

.ml75 {
  margin-left: 75px !important; }

.mr75 {
  margin-right: 75px !important; }

.p75 {
  padding: 75px !important; }

.pt75 {
  padding-top: 75px !important; }

.pb75 {
  padding-bottom: 75px !important; }

.pl75 {
  padding-left: 75px !important; }

.pr75 {
  padding-right: 75px !important; }

.m80 {
  margin: 80px !important; }

.mt80 {
  margin-top: 80px !important; }

.mb80 {
  margin-bottom: 80px !important; }

.ml80 {
  margin-left: 80px !important; }

.mr80 {
  margin-right: 80px !important; }

.p80 {
  padding: 80px !important; }

.pt80 {
  padding-top: 80px !important; }

.pb80 {
  padding-bottom: 80px !important; }

.pl80 {
  padding-left: 80px !important; }

.pr80 {
  padding-right: 80px !important; }

.m85 {
  margin: 85px !important; }

.mt85 {
  margin-top: 85px !important; }

.mb85 {
  margin-bottom: 85px !important; }

.ml85 {
  margin-left: 85px !important; }

.mr85 {
  margin-right: 85px !important; }

.p85 {
  padding: 85px !important; }

.pt85 {
  padding-top: 85px !important; }

.pb85 {
  padding-bottom: 85px !important; }

.pl85 {
  padding-left: 85px !important; }

.pr85 {
  padding-right: 85px !important; }

.m90 {
  margin: 90px !important; }

.mt90 {
  margin-top: 90px !important; }

.mb90 {
  margin-bottom: 90px !important; }

.ml90 {
  margin-left: 90px !important; }

.mr90 {
  margin-right: 90px !important; }

.p90 {
  padding: 90px !important; }

.pt90 {
  padding-top: 90px !important; }

.pb90 {
  padding-bottom: 90px !important; }

.pl90 {
  padding-left: 90px !important; }

.pr90 {
  padding-right: 90px !important; }

.m95 {
  margin: 95px !important; }

.mt95 {
  margin-top: 95px !important; }

.mb95 {
  margin-bottom: 95px !important; }

.ml95 {
  margin-left: 95px !important; }

.mr95 {
  margin-right: 95px !important; }

.p95 {
  padding: 95px !important; }

.pt95 {
  padding-top: 95px !important; }

.pb95 {
  padding-bottom: 95px !important; }

.pl95 {
  padding-left: 95px !important; }

.pr95 {
  padding-right: 95px !important; }

.m100 {
  margin: 100px !important; }

.mt100 {
  margin-top: 100px !important; }

.mb100 {
  margin-bottom: 100px !important; }

.ml100 {
  margin-left: 100px !important; }

.mr100 {
  margin-right: 100px !important; }

.p100 {
  padding: 100px !important; }

.pt100 {
  padding-top: 100px !important; }

.pb100 {
  padding-bottom: 100px !important; }

.pl100 {
  padding-left: 100px !important; }

.pr100 {
  padding-right: 100px !important; }

@media screen and (min-width: 960px) {
  .is_tab, .is_sp {
    display: none !important;
    visibility: hidden; }

  .is_pc {
    display: block !important;
    visibility: visible; } }
@media screen and (max-width: 960px) {
  .is_pc, .is_sp {
    display: none !important;
    visibility: hidden; }

  .is_tab {
    display: block !important;
    visibility: visible; } }
@media screen and (max-width: 600px) {
  .is_pc, .is_sp {
    display: none !important;
    visibility: hidden; }

  .is_sp {
    display: block !important;
    visibility: visible; } }
.disnon, .hidden, .hide {
  display: none !important;
  visibility: hidden !important; }

.show {
  display: block !important;
  visibility: visible !important; }

@media screen and (max-width: 600px) {
  .sp_none {
    display: none !important; } }
@media screen and (max-width: 960px) {
  .tab_none {
    display: none !important; } }
@media screen and (max-width: 1280px) {
  .pc_none {
    display: none !important; } }
header {
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: 9990;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  header .inner-lg {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px; }
  header.stick {
    background: rgba(0, 0, 0, 0.8); }

.site-logo {
  padding: 16px 16px 8px 0;
  display: flex;
  flex-flow: wrap;
  line-height: 1;
  width: 200px;
  max-width: 60%; }
  .site-logo img {
    width: 100%;
    vertical-align: middle; }
  .site-logo a.current {
    pointer-events: none; }
  @media screen and (min-width: 960px) {
    .site-logo {
      max-width: 40%;
      width: 280px; } }

.nav_toggle {
  padding: 8px 16px;
  display: inline-block;
  font-size: 0;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  z-index: 9999; }
  @media screen and (min-width: 960px) {
    .nav_toggle {
      display: none; } }

.ico_nav {
  display: block;
  height: 20px;
  width: 26px;
  position: relative; }
  .ico_nav span {
    border-top: 2px solid #958864;
    display: block;
    position: absolute;
    left: 0;
    height: 0;
    width: 100%;
    -webkit-transition: all 0.15s ease;
    -moz-transition: all 0.15s ease;
    transition: all 0.15s ease; }
    .ico_nav span:first-child {
      top: 0; }
    .ico_nav span:nth-child(2) {
      top: 50%;
      transform: translate(0 -50%); }
    .ico_nav span:last-child {
      top: 100%; }
  .ico_nav.active {
    height: 26px;
    width: 26px; }
    .ico_nav.active span:first-child {
      top: 50%;
      transform: rotate(45deg); }
    .ico_nav.active span:nth-child(2) {
      width: 0; }
    .ico_nav.active span:last-child {
      top: 50%;
      transform: rotate(-45deg); }

nav {
  position: fixed;
  top: 0;
  right: -100%;
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  z-index: 9000;
  background: #0a0a0a;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease; }
  nav.active {
    right: 0px;
    height: 100vh; }
  nav .gnav {
    font-size: 0;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    background: #0a0a0a;
    padding: 60px 24px; }
    nav .gnav > li {
      border: none;
      width: 50%;
      display: block;
      color: #958864;
      margin-bottom: 3px; }
      nav .gnav > li > a {
        display: block;
        padding: 8px;
        font-weight: bold;
        font-weight: 500;
        font-family: "Teko", "Noto Sans JP", sans-serif;
        font-size: 1.8rem;
        color: inherit;
        border-left: 1px solid #958864;
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        transition: all 0.15s ease; }
        nav .gnav > li > a.hover {
          border-left: 3px solid #958864;
          padding-left: calc(16px + .5em); }
      nav .gnav > li.current {
        border-bottom: none;
        background: #958864; }
  nav .gnav_translate {
    height: auto;
    width: 100%;
    border-bottom: 1px solid #958864;
    padding: 16px 0;
    text-align: center;
    background: #FFF; }
    nav .gnav_translate .goog-te-gadget .goog-te-combo {
      border-right: 1px solid #ccc;
      border-radius: 0;
      position: relative;
      cursor: pointer;
      outline: none;
      margin-right: 8px;
      padding-right: 8px; }
  nav .gnav_sns {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    color: #958864; }
    nav .gnav_sns a {
      font-size: 200%;
      padding: 16px;
      line-height: 1;
      font-weight: normal; }
  @media screen and (min-width: 960px) {
    nav {
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-end;
      align-items: flex-end;
      background: none;
      position: static;
      width: auto;
      text-align: right; }
      nav .gnav {
        order: 2;
        padding: 16px 0;
        background: none; }
        nav .gnav > li {
          text-align: left;
          width: auto;
          padding: 0 4px;
          display: inline-block;
          border: none;
          line-height: 1;
          text-align: center;
          position: relative; }
          nav .gnav > li > a {
            font-size: 2rem;
            letter-spacing: .1em;
            height: auto;
            padding: 5px 5px 3px;
            border-left: 4px double transparent;
            border-right: 4px double transparent;
            line-height: 1; }
            nav .gnav > li > a.hover {
              border-left: none;
              padding: 5px 5px 3px;
              border-left: 4px double #958864;
              border-right: 4px double #958864; }
          nav .gnav > li.current {
            border-bottom: none;
            background: transparent;
            color: #958864; }
      nav .gnav_translate {
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        transition: all 0.15s ease;
        -webkit-transform-origin: center top;
        -moz-transform-origin: center top;
        -ms-transform-origin: center top;
        -o-transform-origin: center top;
        transform-origin: center top;
        order: 1;
        padding: 0px 16px;
        height: auto;
        width: auto;
        display: inline-block;
        text-align: right;
        border-bottom: none;
        background: #eee;
        border-radius: 0 0 2px 2px;
        min-height: 36px; }
      nav .gnav_sns {
        -webkit-transition: all 0.15s ease;
        -moz-transition: all 0.15s ease;
        transition: all 0.15s ease;
        order: 3;
        display: flex;
        flex-flow: wrap;
        justify-content: flex-end;
        color: #958864; }
        nav .gnav_sns a {
          font-size: 150%;
          padding: 0 16px; } }

footer {
  text-align: center;
  width: 100%;
  z-index: 9001;
  color: #958864;
  padding: calc(60px / 2) 0 24px; }
  @media screen and (min-width: 960px) {
    footer {
      padding: 60px 0 24px; } }

.fnav_sns {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 200%; }
  .fnav_sns li {
    padding: 0 16px;
    font-weight: normal; }

.copyright {
  text-align: center;
  font-size: 0.8rem;
  font-weight: 400;
  color: #555; }

button, input[type="button"], input[type="reset"], input[type="submit"], .btn, button {
  outline: none;
  border-radius: 3px;
  cursor: pointer;
  display: inline-block;
  padding: 0.8em 2em calc(.8em + 0px);
  text-align: center;
  text-decoration: none;
  -webkit-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  transition: all 0.15s ease;
  -webkit-user-drag: none;
  user-select: none;
  vertical-align: baseline;
  margin: 24px 2px;
  letter-spacing: .1em;
  font-weight: 600;
  color: #fff;
  background: #958864;
  border: 0px solid white; }
  button a, input[type="button"] a, input[type="reset"] a, input[type="submit"] a, .btn a, button a {
    color: inherit; }
  button.hover, input[type="button"].hover, input[type="reset"].hover, input[type="submit"].hover, .btn.hover, button.hover {
    color: inherit;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
    transform: scale(1.05); }
  button.inline, input[type="button"].inline, input[type="reset"].inline, input[type="submit"].inline, .btn.inline, button.inline {
    background: none;
    padding: 0; }
  button:disabled, button.disabled, input[type="button"]:disabled, input[type="button"].disabled, input[type="reset"]:disabled, input[type="reset"].disabled, input[type="submit"]:disabled, input[type="submit"].disabled, .btn:disabled, .btn.disabled, button:disabled, button.disabled {
    box-shadow: none;
    cursor: not-allowed; }
  button::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, .btn::-moz-focus-inner, button::-moz-focus-inner {
    padding: 0; }
  button.primary, input[type="button"].primary, input[type="reset"].primary, input[type="submit"].primary, .btn.primary, button.primary {
    border: 1px solid white;
    color: #fff;
    background: #958864; }
  button.accent, input[type="button"].accent, input[type="reset"].accent, input[type="submit"].accent, .btn.accent, button.accent {
    border-color: #58503b;
    color: #fff;
    background: #958864; }
  button.disabled, input[type="button"].disabled, input[type="reset"].disabled, input[type="submit"].disabled, .btn.disabled, button.disabled {
    border-color: #999999;
    color: #fff;
    pointer-events: none;
    cursor: default;
    background: #ccc; }
  button.large, input[type="button"].large, input[type="reset"].large, input[type="submit"].large, .btn.large, button.large {
    font-size: 130%;
    letter-spacing: 1px; }
  button.xlarge, input[type="button"].xlarge, input[type="reset"].xlarge, input[type="submit"].xlarge, .btn.xlarge, button.xlarge {
    font-size: 160%;
    letter-spacing: 1px;
    padding: .8em; }
  button.small, input[type="button"].small, input[type="reset"].small, input[type="submit"].small, .btn.small, button.small {
    font-size: 90%;
    padding: 2px 10px;
    min-width: 160px;
    display: inline-block;
    margin: 0 2px; }
  button.short, input[type="button"].short, input[type="reset"].short, input[type="submit"].short, .btn.short, button.short {
    min-width: 30%;
    max-width: 90%; }
  button.half, input[type="button"].half, input[type="reset"].half, input[type="submit"].half, .btn.half, button.half {
    min-width: 48%;
    max-width: 90%;
    margin: .5%; }
  button.long, input[type="button"].long, input[type="reset"].long, input[type="submit"].long, .btn.long, button.long {
    min-width: 70%;
    max-width: 90%; }
  button.full, input[type="button"].full, input[type="reset"].full, input[type="submit"].full, .btn.full, button.full {
    width: 100%; }
  @media screen and (max-width: 600px) {
    button.short, input[type="button"].short, input[type="reset"].short, input[type="submit"].short, .btn.short, button.short {
      width: 30%; }
    button.half, input[type="button"].half, input[type="reset"].half, input[type="submit"].half, .btn.half, button.half {
      width: 48%; }
    button.long, input[type="button"].long, input[type="reset"].long, input[type="submit"].long, .btn.long, button.long {
      width: 80%; }
    button.full, input[type="button"].full, input[type="reset"].full, input[type="submit"].full, .btn.full, button.full {
      width: 100%; } }
  button.arrow, input[type="button"].arrow, input[type="reset"].arrow, input[type="submit"].arrow, .btn.arrow, button.arrow {
    position: relative;
    padding-right: 3em; }
    button.arrow:after, input[type="button"].arrow:after, input[type="reset"].arrow:after, input[type="submit"].arrow:after, .btn.arrow:after, button.arrow:after {
      position: absolute;
      top: 50%;
      right: 10px;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      margin-top: -0px;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f30b'; }
  button.backArrow, input[type="button"].backArrow, input[type="reset"].backArrow, input[type="submit"].backArrow, .btn.backArrow, button.backArrow {
    position: relative;
    padding-left: 2em;
    margin-left: -2em; }
    button.backArrow:after, input[type="button"].backArrow:after, input[type="reset"].backArrow:after, input[type="submit"].backArrow:after, .btn.backArrow:after, button.backArrow:after {
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      margin-top: -0px;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f30a'; }
  button.frontArrow, input[type="button"].frontArrow, input[type="reset"].frontArrow, input[type="submit"].frontArrow, .btn.frontArrow, button.frontArrow {
    position: relative;
    padding-left: 2em;
    margin-left: -2em; }
    button.frontArrow:after, input[type="button"].frontArrow:after, input[type="reset"].frontArrow:after, input[type="submit"].frontArrow:after, .btn.frontArrow:after, button.frontArrow:after {
      position: absolute;
      top: 50%;
      left: 10px;
      -webkit-transform: translate(0%, -50%);
      -moz-transform: translate(0%, -50%);
      -ms-transform: translate(0%, -50%);
      -o-transform: translate(0%, -50%);
      transform: translate(0%, -50%);
      margin-top: -0px;
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f30b'; }

.pager {
  margin: 60px auto 24px;
  text-align: center;
  display: inline-block;
  padding: 0;
  line-height: 1;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center; }
  .pager > li a {
    opacity: .5; }
    .pager > li a.hover {
      opacity: 1; }
  .pager > li.disabled {
    opacity: 0; }
  .pager .prev a:before {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f060';
    margin-right: 8px; }
  .pager .next a:after {
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    content: '\f061';
    margin-left: 8px; }
  .pager ol {
    flex-grow: 2;
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center; }
    .pager ol > li:not(:last-child) {
      margin-right: 8px; }
    .pager ol > li a {
      height: 2em;
      width: 2em;
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: center;
      text-align: center;
      border-radius: 50%;
      line-height: 1;
      -webkit-transition: all 0.15s ease;
      -moz-transition: all 0.15s ease;
      transition: all 0.15s ease; }
      .pager ol > li a.current {
        opacity: 1;
        border: 1px solid #958864;
        color: #958864;
        pointer-events: none; }

.list_decimal {
  padding-left: 1.5em;
  text-align: left; }
  .list_decimal > li {
    list-style: decimal; }

.list_disc {
  padding-left: 1.5em;
  text-align: left; }
  .list_disc > li {
    list-style: disc; }

.list_num > li {
  counter-increment: num;
  vertical-align: baseline;
  position: relative;
  padding-left: 2em !important; }
  .list_num > li:before {
    position: absolute;
    top: .5em;
    left: 0;
    content: counter(num);
    padding: 2px;
    text-align: center;
    width: calc(1em + 5px);
    height: calc(1em + 5px);
    line-height: 1;
    display: inline-block;
    font-weight: 600;
    background: #aaa;
    border-radius: 3px;
    font-family: "Noto Serif JP", serif;
    color: #fff; }
  .list_num > li.nav_current:before {
    background: #958864; }

.list_num-solid {
  padding-left: 2em; }
  .list_num-solid > li {
    counter-increment: num2;
    vertical-align: baseline;
    position: relative;
    margin-top: 20px; }
    .list_num-solid > li:before {
      position: absolute;
      top: 5px;
      left: -2em;
      content: counter(num2);
      padding: 2px;
      text-align: center;
      width: calc(1em + 5px);
      height: calc(1em + 5px);
      line-height: 1;
      display: inline-block;
      font-weight: 600;
      border-radius: 3px;
      background: #E0F1FF;
      color: #fff;
      font-size: 1.2rem; }

.list_dot {
  padding-left: 1.5em; }
  .list_dot > li {
    position: relative; }
    .list_dot > li:before {
      position: absolute;
      top: 50%;
      left: -1.5em;
      transform: translateY(-50%);
      font-family: 'Font Awesome 5 Free';
      font-weight: 900;
      content: '\f22d';
      padding: 2px;
      width: calc(1em + 6px);
      height: calc(1em + 6px);
      text-align: center;
      line-height: 1;
      display: inline-block; }

.more, .back, time, .category, .sort_toggle li, .list_share dt {
  font-family: "Teko", "Noto Sans JP", sans-serif;
  font-size: 150%;
  font-weight: 400;
  letter-spacing: .1em;
  line-height: 1;
  padding-top: .2em; }

.list_news li:not(:first-child), .list_schedule li:not(:first-child) {
  margin-top: 24px; }

.cont_discography {
  display: flex;
  flex-flow: wrap;
  justify-content: center; }
  .cont_discography > figure {
    width: 100%;
    text-align: center;
    margin-bottom: 24px; }
    .cont_discography > figure img {
      width: 100%; }
  .cont_discography > p {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .cont_discography > figure {
      width: 40%; }
    .cont_discography > div {
      width: 60%;
      padding: 24px; } }

.slider_kv li a.hover img {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1); }

.more {
  font-weight: 400; }

.back {
  font-weight: 400; }

.category:after {
  content: "";
  border-top: 1px solid #E0F1FF;
  height: 0;
  width: 1em;
  display: inline-block;
  margin: 0 8px;
  -webkit-transform: translateY(-0.25em);
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -o-transform: translateY(-0.25em);
  transform: translateY(-0.25em); }
.hover .category:after {
  border-top: 1px solid #958864; }

.sort_toggle {
  display: flex; }
  .sort_toggle li {
    margin-right: 16px;
    cursor: pointer;
    display: inline-block; }
    .sort_toggle li:hover, .sort_toggle li:active, .sort_toggle li:focus {
      color: #958864; }
    .sort_toggle li.js_mix-toggle-js_mix-fillter-active {
      color: #958864; }

.section_hero {
  padding: 0; }

.slider_kv {
  margin-bottom: 0; }
  .slider_kv li {
    width: 100%; }
    .slider_kv li a {
      width: 100%; }
    .slider_kv li img {
      width: 100%; }

.slider_bnr li, .slider_video li {
  padding: 0 8px; }
  .slider_bnr li a, .slider_video li a {
    width: 100%; }
  .slider_bnr li img, .slider_video li img {
    width: 100%; }
  @media screen and (min-width: 600px) {
    .slider_bnr li, .slider_video li {
      padding: 0 16px; } }

.cont_slider {
  position: relative;
  margin-bottom: 16px; }

.slide_toggle {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center; }
  .slide_toggle li {
    font-family: "Teko", "Noto Sans JP", sans-serif;
    letter-spacing: .1em;
    font-weight: 600;
    padding: 16px;
    font-size: 2.6rem;
    cursor: pointer;
    display: inline-block; }
    .slide_toggle li:hover, .slide_toggle li:active, .slide_toggle li:focus {
      color: #958864; }
    .slide_toggle li.current {
      color: #958864; }
  @media screen and (min-width: 960px) {
    .slide_toggle {
      display: none; } }

.cont_info {
  border-top: 1px solid #E0F1FF;
  max-width: 600px;
  margin: auto; }
  .cont_info h2 {
    display: none; }
  .cont_info section ul {
    padding: 8px;
    margin-top: 0;
    margin-bottom: 60px; }
  @media screen and (min-width: 960px) {
    .cont_info {
      display: flex;
      flex-flow: wrap;
      justify-content: center;
      align-items: strech;
      max-width: 100%;
      border-top: none; }
      .cont_info h2 {
        display: block; }
      .cont_info section {
        padding: 0 16px;
        width: 33.3%; }
        .cont_info section:not(:last-child) {
          border-right: 1px solid rgba(224, 241, 255, 0.5); } }

.more {
  position: absolute;
  right: 0;
  bottom: 0; }

.list_music2 li {
  margin-bottom: 8px; }
.list_music2 a {
  display: flex;
  flex-flow: wrap; }
  .list_music2 a figure {
    width: 30%;
    max-width: 120px;
    padding-right: 16px; }
  .list_music2 a div {
    width: 70%; }
@media screen and (min-width: 960px) {
  .list_music2 a figure {
    width: 120px;
    padding-right: 16px; }
  .list_music2 a div {
    width: calc(100% - 120px); } }

.cont_schedule {
  display: flex;
  flex-flow: wrap; }
  .cont_schedule dt, .cont_schedule dd {
    margin-bottom: 24px; }
  .cont_schedule dt {
    width: 15%;
    text-align: justify; }
  .cont_schedule dd {
    width: 85%; }

.list_disco {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 24px; }
  .list_disco li {
    width: 100%;
    max-width: 400px;
    padding: 16px; }
    .list_disco li a {
      width: 100%; }
    .list_disco li img {
      width: 100%; }
  @media screen and (min-width: 960px) {
    .list_disco {
      justify-content: flex-start; }
      .list_disco li {
        width: calc(100% / 3);
        padding: 16px; } }

.discography_body {
  margin-top: 24px; }

.post-info {
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: center; }

.list_share {
  display: flex;
  flex-flow: wrap;
  justify-content: flex-end;
  align-items: center; }
  .list_share dd {
    margin-left: 8px;
    font-size: 150%;
    font-weight: normal;
    display: inline-block; }
  @media screen and (min-width: 960px) {
    .list_share dd {
      margin-left: 16px; } }

.cont_post figure {
  margin-bottom: 24px; }
  .cont_post figure img {
    width: 100%; }

.movie_wrap {
     position: relative;
     padding-bottom: 56.25%;
     height: 0;
     overflow: hidden;
}

.movie_wrap iframe {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     height: 100%;
}

#btn-continue {
    display: none;
}

/*goods*/
.list_goods {
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  margin-top: 24px;
}
.list_goods li {
  width: 100%;
  padding: 16px;
}
.list_goods li a {
  width: 100%;
}
.list_goods li img {
  width: 100%;
}
.list_goods li .subTitle_date {
  font-family: "Teko", "Noto Sans JP", sans-serif;
  font-size: 2.4rem;
  margin-bottom: 0;
  line-height: 1;
}
.list_goods li .subTitle {
  font-size: 1.8rem;
}

.list_goods_detail {
  display: flex;
  flex-flow: wrap;
}
.list_goods_detail li {
  width: 100%;
  padding: 10px;
}
.list_goods_detail li .subTitle {
  font-size: 1.4rem;
  font-weight: normal;
}
.list_goods_detail li .subTitle_2 {
  font-size: 1.4rem;
  font-weight: normal;
}
.list_goods_detail li .subTitle strong,
.list_goods_detail li .subTitle_2 strong {
  color: #958864;
}
.list_goods_detail table {
  width: 99%;
  border-collapse: collapse;
  border-spacing: 0;
  margin: 0 auto;
}
.list_goods_detail table th,td {
  border: #E0F1FF solid 1px;
  line-height: 1.5;
  padding: 3px 10px;
}
.list_goods_detail th {
  text-align: center;
  white-space: nowrap;
}
.list_goods_detail td {
  text-align: right;
}
.list_goods_detail table span {
  font-size: 1.0rem;
}
.list_goods_detail table strong {
  margin-right: 5px;
  color: #958864;
}
.ttl_h3_goods {
  font-size: 1.8rem;
  line-height: 1.4;
  margin-bottom: 10px;
}
.txt_note {
  margin: 40px 0;
  font-weight: normal;
}
@media screen and (min-width: 960px) {
  .list_goods {
    justify-content: flex-start;
  }
  .list_goods li {
    width: calc(100% / 3);
    padding: 16px;
  }
  .list_goods_detail li {
    width: 50%;
  }
  .list_goods_detail li:nth-child(odd) {
    padding-right: 30px;
    padding-left: 0;
  }
  .list_goods_detail li .subTitle {
    text-align: center;
  }
  .list_goods_detail li:nth-child(even) {
    padding-left: 30px;
    padding-right: 0;
  }
  .list_goods_detail li .subTitle {
    font-size: 1.6rem;
    font-weight: normal;
  }
  .list_goods_detail li .subTitle_2 {
    font-size: 1.6rem;
    font-weight: normal;
  }
  .ttl_h3_goods {
    font-size: 3rem;
    margin-bottom: 20px;
  }
  .txt_note {
    margin: 100px 0 40px;
  }
  .list_goods_detail table span {
    font-size: 1.2rem;
  }
  .sp_br {
    display: none;
  }
}
@media screen and (max-width: 760px) {
  .span_sp {
    display: block;
    text-align: left;
  }
  .td_left_sp {
    text-align: left!important;
  }
  .td_center_sp {
    text-align: center!important;
  }
  .td_sp_nowrap {
    white-space: nowrap;
  }
}


/* schedule_table */
.schedule_list {
  margin-top: 20px;
  margin-bottom: 30px;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.schedule_list th {
  padding: 0px 10px;
  color: #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  background: #fff;
  white-space: nowrap;
}
.schedule_list th:first-child {
  border-left: 1px solid #fff;
  border-right: 1px solid #000;
}
.schedule_list th:last-child {
  border-left: 1px solid #000;
  border-right: 1px solid #fff;
}
.schedule_list td {
  padding: 3px 10px;
  white-space: nowrap;
}
.schedule_list td:nth-child(2),
.schedule_list td:nth-child(4),
.schedule_list td:nth-child(5) {
  text-align: center;
}
.schedule_list td:nth-child(7) {
  line-height: 1.3;
}
@media screen and (max-width: 1390px) {
  .schedule_list {
    width:99.9%;
    min-height:100%;
    overflow: scroll;
    cursor: pointer;
    -ms-overflow-style:none;
  }
  .schedule_list::-webkit-scrollbar{
    display:none;
  }
}

/* opening movie */
.opening {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  height: 100vh;
  display: none;
  background: rgba(0,0,0,0.9);
}
.opening ul {
  display:-webkit-box;
  display:-ms-flexbox;
  display:flex;
  -webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
  margin: 0 auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 100%;
}
.opening ul li {
  width: 100%;
  position: relative;
  padding: 0 10%;
}
.opening ul li.opening_close {
  position: absolute;
  right: 5%;
  top: -8%;
}
@media screen and (min-width: 768px) {
  .opening ul li.opening_close {
    position: absolute;
    right: 8%;
    top: -3%;
  }
}
